.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--padding-sm) var(--padding-md);
    box-shadow: var(--shadow-sm);
    border: 1px solid var(--border-light);
    background: var(--bg-white);

    .nav-start {
        font-weight: var(--fw-md);
        a {
            .bi {
                font-size: 1.2rem !important;
            }
        }
    }

    .options {
        a {
            color: var(--text-secondary) !important;
            font-weight: var(--fw-md);
        }
    }
}

footer {
    padding: var(--padding-sm) var(--padding-md);
    border-top: 1px solid var(--border-light);
    background: var(--bg-white);
}