
<nav class="nav-main fixed-top ">

    <div class="nav-start ">
        <a href="#" class="text-decoration-none d-flex align-items-center gap-2">
            <i class="bi bi-snow2 text-primary"></i>
            <span class=" mb-0">Prime Gelos</span>
        </a>
    </div>

    <div class="options d-none d-lg-flex gap-4 align-items-center">
        <a href="#" class=" ">Início</a>
        <a href="#" class=" ">Sobre</a>
        <a href="#" class=" ">Serviços</a>
        <a href="#" class=" ">Contato</a>
    </div>

    <div class="end d-none d-lg-flex gap-3">
        <button class="button btn--blue ">Entrar</button>
        <button class="button ">Criar Conta</button>
    </div>

    <div class="d-lg-none">
        <button class="button btn--light " style="box-shadow: var(--shadow-sm); border: 1px solid var(--border-light);" 
        type="button" aria-label="Abrir menu">
            <i class="bi bi-list"></i>
        </button>
    </div>

</nav>
