
<nav class="nav-main fixed-top ">

    <div class="nav-start ">
        <a href="/" class="text-decoration-none d-flex align-items-center gap-2 fs-6">
            <span class=" mb-0">Prime Gelos</span>
            <i class="bi bi-snow2 text--primary"></i>
        </a>
    </div>

    <div class="options d-none d-lg-flex gap-4 align-items-center">
        <a href="/" class=" ">Início</a>
        <a href="/partner.html" class=" ">Seja Parceiro</a>
        <a href="#" class=" ">Catálogo</a>
        <a href="#" class=" ">Contato</a>
    </div>

    <div class="end d-none d-lg-flex gap-3">
        <button class="button btn--blue " data-bs-toggle="modal" data-bs-target="#modalEscolherLogin">Entrar</button>
        <button class="button " data-bs-toggle="modal" data-bs-target="#modalCriarConta">Criar Conta</button>
    </div>

    <div class="d-lg-none">
        <button class="button btn--light" style="box-shadow: var(--shadow-sm); border: 1px solid var(--border-light);" 
        type="button" aria-label="Abrir menu" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar">
            <i class="bi bi-list"></i>
        </button>
    </div>

</nav>
