<div id="announcementBar" class="carousel slide  text-white py-2" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="container relative">
        <div class="carousel-inner text-center fw-medium" style="font-size: 0.875rem; letter-spacing: 0.5px;">
            
            <!-- Mensagem 1 -->
            <div class="carousel-item active">
                <span class="d-flex align-items-center justify-content-center gap-2">
                    <i class="bi bi-truck text-primary fs-5"></i> 
                    Frete grátis para pedidos acima de 50kg em Goiânia e Anápolis!
                </span>
            </div>
            
            <!-- Mensagem 2 -->
            <div class="carousel-item">
                <span class="d-flex align-items-center justify-content-center gap-2">
                    <i class="bi bi-clock-history text-primary fs-5"></i> 
                    Atendimento Express de Domingo a Domingo. Seu evento não pode parar!
                </span>
            </div>
            
            <!-- Mensagem 3 -->
            <div class="carousel-item">
                <span class="d-flex align-items-center justify-content-center gap-2">
                    <i class="bi bi-tags-fill text-primary fs-5"></i> 
                    Seja um parceiro Prime: Condições especiais para distribuidoras.
                </span>
            </div>

        </div>
    </div>
</div>